{% extends "base.html" %}

{% block meta_title %}Scheme : {{object}}{% endblock %}

{% block document %}

<div id="title" class="grid_12 grid">
{% block title %}<h3>SKOS Scheme : {{object}}</h3>{% endblock %}
    <p>Ajouté le {{object.created|date:'l t F Y'}} par {{object.user}}</p>
    <br/>
</div>

{% block content %}
<div id="content">
    <div class="grid_4 grid">
        
        
    {% if concepts %}
        <h4>Concept</h4>
        <ul>
        {% for c in concepts %}
        <li><a href="{{c.get_absolute_url}}">{{ c }}</a></li>
        {%endfor%} 
        </ul>
        <br/>
    {% endif %}
    </div>
    

    
</div>
{% endblock %}    
{% endblock %}

