{% extends "base.html" %}

{% block meta_title %}Tag : {{object}}{% endblock %}

{% block document %}

<div id="title" class="grid_12 grid">
{% block title %}<h3>Tag : {{object}}</h3>{% endblock %}
    <p>Ajouté le {{object.created|date:'l t F Y'}} par {{object.user}}</p>
    <br/>
</div>

{% block content %}
<div id="content">
    <div class="grid_4 grid">
        
        
    {% if initiatives %}
        <h4>Initiatives</h4>
        <ul>
        {% for i in initiatives %}
        <li><a href="{{i.get_absolute_url}}">{{ i.title }}</a></li>
        {%endfor%} 
        </ul>
        <br/>
    {% endif %}
    </div>
    

    
</div>
{% endblock %}    
{% endblock %}

